KAFKA_BROKERS=
KAFKA_CLIENT_ID=
KAFKA_CONSUMER_GROUP=
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_TLS_ENABLED=
KAFKA_TOPIC_STREAM_EVENTS=

WEBRTC_ADDR=
STUN_URLS=
TURN_URL=
TURN_USERNAME=
TURN_CREDENTIAL=
FRAME_INTERVAL_SECS=

ALLOWED_ORIGIN=

JWT_STREAM_SECRET=
SLACK_WEBHOOK_URL=

REDIS_ADDR=
REDIS_PASSWORD=

METRIC_ADDR=
GRPC_ADDR=
GRPC_CERT_FILE=
GRPC_KEY_FILE=
GRPC_CA_FILE=
GRPC_SERVICE_TOKEN=

EXAM_SERVICE_GRPC_ADDR=
EXAM_GRPC_CA_FILE=

STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_USE_SSL=
STORAGE_PRESIGN_MINUTES=
STORAGE_FRAME_BUCKET=
STORAGE_RECORDING_BUCKET=

ASSEMBLER_WORK_DIR=
AI_WEBRTC_URL=
WEBRTC_UDP_PORT=
SEGMENT_TEMP_DIR=
FFMPEG_INGEST_STOP_TIMEOUT_SECS=